<ul ngbNav #nav="ngbNav" [activeId]="0" class="nav-tabs justify-content-center bg-dark">
  <li [ngbNavItem]="1">
    <a ngbNavLink class="text-light bg-dark">Home</a>
    <ng-template ngbNavContent>
      <p>
        Home shop.
      </p>
    </ng-template>
  </li>
  <li ngbDropdown class="nav-item">
    <a href (click)="false" class="nav-link text-light bg-dark" ngbDropdownToggle>Artists</a>
    <div ngbDropdownMenu>
      <button ngbDropdownItem>All</button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem>BTBAM</button>
      <button ngbDropdownItem>Tesseract</button>
      <button ngbDropdownItem>Some Other Band</button>
    </div>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink class="text-light bg-dark">About</a>
    <ng-template ngbNavContent>
      <p>
        This online merch store does not make any real transactions.
      </p>
    </ng-template>
  </li>
  <li ngbNavItem [disabled]="false" class="ml-auto">
    <a ngbNavLink class="text-light bg-dark">Logout</a>
    <ng-template ngbNavContent>
      <p>
        Some other button.
      </p>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<div class="item-container">
  <div *ngFor="let item of items">
    <button class="button">
      <img [src]="item.image" height="300em" width="300em">
      <p>{{item.name}}</p>
      <p>{{item.price}}</p>
    </button>
  </div>
</div>

<p>Our shop is a work in progress</p>
<button type="button" class="btn btn-outline-primary" routerLink="/login"> Login Page</button>