<div class="grid" *ngIf="item">
    <div></div>
    <div class="grid-child">
        <img [src]="item.image" style="height: 500px;">
    </div>

    <div class="grid-child">
        <h3>{{item.name}}</h3>
        <h5>Item Description</h5>
        <p>{{item.description}}</p>
        <p><b>Stock:</b> {{item.stock}}</p>
        <p><b>Type:</b> {{item.type}}</p>
        <p><b>Price:</b> ${{item.price}}</p>

        <form [formGroup]="registerForm">
            <div class="form-group col-md-2 center" >
                <label for="inputQuantity"><b>Quantity:</b></label>
                <input type="number" formControlName="quantityForm" class="form-control" id="inputQuantity" min="1" [max]=item.stock>
            </div>
            <br>
            <button type="button" class="btn btn-primary mr-2" (click)="addToCart()">Add To Cart</button>
          </form>

    </div>

</div>