.grid {
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    text-align: center;
}

.grid-child {
    background-color: rgb(240, 240, 240);
    padding: 1em;
    width: 100%;
}

.grid-child:nth-child(odd){
    background-color: white;
    padding: 1em;

}